# Machine Learning Diabetes Classification

## Read csv and perform basic data cleaning

In [1]:
# Install zipfile36 if you haven't already
# !pip install zipfile36

Requirement already satisfied: zipfile36 in /Users/juliaheuer/opt/anaconda3/lib/python3.8/site-packages (0.1.3)

In [46]:
# Import our dependencies
import pandas as pd
import numpy as np
from io import BytesIO
from zipfile import ZipFile
from urllib.request import urlopen
from matplotlib import pyplot as plt

# SQL
from sqlalchemy import create_engine
import sqlite3 as sql

# Machine learning
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import accuracy_score
import tensorflow as tf

In [2]:
# Create dataframe
z = urlopen('https://archive.ics.uci.edu/ml/machine-learning-databases/00296/dataset_diabetes.zip')
myzip = ZipFile(BytesIO(z.read())).extract('dataset_diabetes/diabetic_data.csv')
df = pd.read_csv(myzip)
df.head(5)
target = ['A1Cresult']

In [3]:
# Drop the non-beneficial ID columns, 'encounter_id' and 'patient_nbr'
df = df.drop(['patient_nbr'],1)

# Drop mostly empty columns, 'weight', 'payer_code', 'max_glu_serum', and 'medical_specialty'
df = df.drop(['weight', 'payer_code', 'max_glu_serum', 'medical_specialty', ],1)

# Replace '?' values to nulls
df.replace({'?': np.nan}, inplace=True)

# Replace 'None' values to nulls
df.replace({'None': np.nan}, inplace=True)

# Drop the null rows
df = df.dropna()

/Users/juliaheuer/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

/Users/juliaheuer/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """

In [4]:
# Convert the target column values to normal and high based on their values
x = {'Norm': 'low'}   
df = df.replace(x)
x = dict.fromkeys(['>7', '>8'], 'high')    
df = df.replace(x)
df.reset_index(inplace=True, drop=True)

In [5]:
# Determine the number of unique values in each column.
df.nunique()

encounter_id                16193
race                            5
gender                          2
age                            10
admission_type_id               8
discharge_disposition_id       21
admission_source_id            15
time_in_hospital               14
num_lab_procedures            114
num_procedures                  7
num_medications                67
number_outpatient              24
number_emergency               19
number_inpatient               18
diag_1                        490
diag_2                        486
diag_3                        539
number_diagnoses               12
A1Cresult                       2
metformin                       4
repaglinide                     4
nateglinide                     4
chlorpropamide                  2
glimepiride                     4
acetohexamide                   1
glipizide                       4
glyburide                       4
tolbutamide                     2
pioglitazone                    4
rosiglitazone                   4
acarbose                        4
miglitol                        4
troglitazone                    1
tolazamide                      3
examide                         1
citoglipton                     1
insulin                         4
glyburide-metformin             4
glipizide-metformin             2
glimepiride-pioglitazone        1
metformin-rosiglitazone         1
metformin-pioglitazone          1
change                          2
diabetesMed                     2
readmitted                      3
dtype: int64

In [6]:
# Drop columns with only 1 value
df = df.drop(['acetohexamide', 'troglitazone', 'examide', 'citoglipton','glimepiride-pioglitazone', 'metformin-rosiglitazone', 'metformin-pioglitazone'],1)
df.nunique()

/Users/juliaheuer/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

encounter_id                16193
race                            5
gender                          2
age                            10
admission_type_id               8
discharge_disposition_id       21
admission_source_id            15
time_in_hospital               14
num_lab_procedures            114
num_procedures                  7
num_medications                67
number_outpatient              24
number_emergency               19
number_inpatient               18
diag_1                        490
diag_2                        486
diag_3                        539
number_diagnoses               12
A1Cresult                       2
metformin                       4
repaglinide                     4
nateglinide                     4
chlorpropamide                  2
glimepiride                     4
glipizide                       4
glyburide                       4
tolbutamide                     2
pioglitazone                    4
rosiglitazone                   4
acarbose                        4
miglitol                        4
tolazamide                      3
insulin                         4
glyburide-metformin             4
glipizide-metformin             2
change                          2
diabetesMed                     2
readmitted                      3
dtype: int64

In [7]:
#drop variables with outliers ()
df = df.drop(['number_inpatient', 'number_outpatient','number_emergency'],1)
df.nunique()

/Users/juliaheuer/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

encounter_id                16193
race                            5
gender                          2
age                            10
admission_type_id               8
discharge_disposition_id       21
admission_source_id            15
time_in_hospital               14
num_lab_procedures            114
num_procedures                  7
num_medications                67
diag_1                        490
diag_2                        486
diag_3                        539
number_diagnoses               12
A1Cresult                       2
metformin                       4
repaglinide                     4
nateglinide                     4
chlorpropamide                  2
glimepiride                     4
glipizide                       4
glyburide                       4
tolbutamide                     2
pioglitazone                    4
rosiglitazone                   4
acarbose                        4
miglitol                        4
tolazamide                      3
insulin                         4
glyburide-metformin             4
glipizide-metformin             2
change                          2
diabetesMed                     2
readmitted                      3
dtype: int64

In [8]:
#Info on the data frame data types, .non_null, etc. 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16193 entries, 0 to 16192
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   encounter_id              16193 non-null  int64
 1   race                      16193 non-null  object
 2   gender                    16193 non-null  object
 3   age                       16193 non-null  object
 4   admission_type_id         16193 non-null  int64
 5   discharge_disposition_id  16193 non-null  int64
 6   admission_source_id       16193 non-null  int64
 7   time_in_hospital          16193 non-null  int64
 8   num_lab_procedures        16193 non-null  int64
 9   num_procedures            16193 non-null  int64
 10  num_medications           16193 non-null  int64
 11  diag_1                    16193 non-null  object
 12  diag_2                    16193 non-null  object
 13  diag_3                    16193 non-null  object
 14  number_diagnoses          16193 non-null  int64
 15  A1Cresult                 16193 non-null  object
 16  metformin                 16193 non-null  object
 17  repaglinide               16193 non-null  object
 18  nateglinide               16193 non-null  object
 19  chlorpropamide            16193 non-null  object
 20  glimepiride               16193 non-null  object
 21  glipizide                 16193 non-null  object
 22  glyburide                 16193 non-null  object
 23  tolbutamide               16193 non-null  object
 24  pioglitazone              16193 non-null  object
 25  rosiglitazone             16193 non-null  object
 26  acarbose                  16193 non-null  object
 27  miglitol                  16193 non-null  object
 28  tolazamide                16193 non-null  object
 29  insulin                   16193 non-null  object
 30  glyburide-metformin       16193 non-null  object
 31  glipizide-metformin       16193 non-null  object
 32  change                    16193 non-null  object
 33  diabetesMed               16193 non-null  object
 34  readmitted                16193 non-null  object
dtypes: int64(9), object(26)
memory usage: 4.3+ MB

In [9]:
#Looking at dataframe 
df.head()

,encounter_id,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,...,rosiglitazone,acarbose,miglitol,tolazamide,insulin,glyburide-metformin,glipizide-metformin,change,diabetesMed,readmitted
0,236316,Caucasian,Male,[80-90),1,3,7,6,64,3,...,No,No,No,No,No,No,No,Ch,Yes,NO
1,955884,Caucasian,Female,[70-80),1,3,7,5,34,0,...,No,No,No,No,Up,No,No,Ch,Yes,>30
2,1257282,Other,Female,[50-60),1,1,7,2,53,0,...,No,No,No,No,Up,No,No,Ch,Yes,NO
3,1270524,Caucasian,Male,[60-70),1,2,7,1,59,0,...,No,No,No,No,Steady,No,No,No,Yes,NO
4,1455252,Caucasian,Female,[80-90),1,1,7,3,34,0,...,No,No,No,No,No,No,No,No,No,>30

In [10]:
# Generate our categorical variable list
df_cat = df.dtypes[df.dtypes == "object"].index.tolist()
df_cat

['race',
 'gender',
 'age',
 'diag_1',
 'diag_2',
 'diag_3',
 'A1Cresult',
 'metformin',
 'repaglinide',
 'nateglinide',
 'chlorpropamide',
 'glimepiride',
 'glipizide',
 'glyburide',
 'tolbutamide',
 'pioglitazone',
 'rosiglitazone',
 'acarbose',
 'miglitol',
 'tolazamide',
 'insulin',
 'glyburide-metformin',
 'glipizide-metformin',
 'change',
 'diabetesMed',
 'readmitted']

In [11]:
# Check the number of unique values in each column
df[df_cat].nunique()

race                     5
gender                   2
age                     10
diag_1                 490
diag_2                 486
diag_3                 539
A1Cresult                2
metformin                4
repaglinide              4
nateglinide              4
chlorpropamide           2
glimepiride              4
glipizide                4
glyburide                4
tolbutamide              2
pioglitazone             4
rosiglitazone            4
acarbose                 4
miglitol                 4
tolazamide               3
insulin                  4
glyburide-metformin      4
glipizide-metformin      2
change                   2
diabetesMed              2
readmitted               3
dtype: int64

In [12]:
# Check the unique value counts to see if binning is required
df.diag_1.value_counts()

428    1144
414     976
786     853
410     806
486     531
       ...
237       1
617       1
356       1
989       1
893       1
Name: diag_1, Length: 490, dtype: int64

In [13]:
# Check the unique value counts to see if binning is required
df.diag_2.value_counts()

276       1280
428        938
250        753
427        739
250.02     677
          ...
316          1
E858         1
980          1
725          1
110          1
Name: diag_2, Length: 486, dtype: int64

In [14]:
# Check the unique value counts to see if binning is required
df.diag_3.value_counts()

250    1557
401    1229
276    1057
428     665
414     550
       ...
550       1
V55       1
314       1
579       1
825       1
Name: diag_3, Length: 539, dtype: int64

In [15]:
# Create SQLite engine using SQLAlechmey
engine = create_engine('sqlite:///diabetes_data.db', echo=False)
conn = engine.connect()
df.to_sql('diabetes', conn, index=False, if_exists='replace')

In [16]:
# Check dataset
pd.read_sql('SELECT * FROM diabetes LIMIT 10', conn)

,encounter_id,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,...,rosiglitazone,acarbose,miglitol,tolazamide,insulin,glyburide-metformin,glipizide-metformin,change,diabetesMed,readmitted
0,236316,Caucasian,Male,[80-90),1,3,7,6,64,3,...,No,No,No,No,No,No,No,Ch,Yes,NO
1,955884,Caucasian,Female,[70-80),1,3,7,5,34,0,...,No,No,No,No,Up,No,No,Ch,Yes,>30
2,1257282,Other,Female,[50-60),1,1,7,2,53,0,...,No,No,No,No,Up,No,No,Ch,Yes,NO
3,1270524,Caucasian,Male,[60-70),1,2,7,1,59,0,...,No,No,No,No,Steady,No,No,No,Yes,NO
4,1455252,Caucasian,Female,[80-90),1,1,7,3,34,0,...,No,No,No,No,No,No,No,No,No,>30
5,1810752,Caucasian,Male,[70-80),1,3,7,14,78,1,...,No,No,No,No,Up,No,No,Ch,Yes,<30
6,1881372,Caucasian,Male,[60-70),1,2,7,4,65,2,...,No,No,No,No,Steady,No,No,No,Yes,<30
7,1968528,Caucasian,Female,[70-80),6,25,1,10,56,2,...,No,No,No,No,Down,No,No,Ch,Yes,>30
8,2092362,Caucasian,Female,[70-80),6,25,7,11,88,1,...,No,No,No,No,Down,No,No,Ch,Yes,>30
9,2095932,AfricanAmerican,Female,[30-40),6,25,7,8,62,0,...,No,No,No,No,Steady,No,No,Ch,Yes,>30

In [17]:
# Create cleanup table
engine.execute('CREATE TABLE "cleaned_columns" ('
               'id BIGINT NOT NULL,'
               'diag_1c VARCHAR, '
               'diag_2c VARCHAR, '
               'diag_3c VARCHAR, '
               'PRIMARY KEY (id));')

OperationalError: (sqlite3.OperationalError) table "cleaned_columns" already exists
[SQL: CREATE TABLE "cleaned_columns" (id BIGINT NOT NULL,diag_1c VARCHAR, diag_2c VARCHAR, diag_3c VARCHAR, PRIMARY KEY (id));]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [18]:
# Insert columns into new table to clean
engine.execute('INSERT INTO "cleaned_columns" '
               'SELECT encounter_id AS id, '
               'CASE '
                   'WHEN (diag_1 BETWEEN 390 AND 459) OR (diag_1 = 785) THEN "circulatory" '
                   'WHEN (diag_1 BETWEEN 460 AND 519) OR (diag_1 = 786) THEN "respiratory" '
                   'WHEN (diag_1 BETWEEN 520 AND 579) OR (diag_1 = 787) THEN "digestive" '
                   'WHEN (diag_1 BETWEEN 250 AND 251) THEN "diabetes" '
                   'WHEN (diag_1 BETWEEN 800 AND 999) THEN "injury" '
                   'WHEN (diag_1 BETWEEN 710 AND 739) THEN "musculoskeletal" '
                   'WHEN (diag_1 BETWEEN 580 AND 629) OR (diag_1 = 788) THEN "genitourinary" '
                   'WHEN (diag_1 BETWEEN 140 AND 239) THEN "neoplasms" '
                   'ELSE "other" '
               'END AS diag_1c, '
               'CASE '
                   'WHEN (diag_2 BETWEEN 390 AND 459) OR (diag_2 = 785) THEN "circulatory" '
                   'WHEN (diag_2 BETWEEN 460 AND 519) OR (diag_2 = 786) THEN "respiratory" '
                   'WHEN (diag_2 BETWEEN 520 AND 579) OR (diag_2 = 787) THEN "digestive" '
                   'WHEN (diag_2 BETWEEN 250 AND 251) THEN "diabetes" '
                   'WHEN (diag_2 BETWEEN 800 AND 999) THEN "injury" '
                   'WHEN (diag_2 BETWEEN 710 AND 739) THEN "musculoskeletal" '
                   'WHEN (diag_2 BETWEEN 580 AND 629) OR (diag_2 = 788) THEN "genitourinary" '
                   'WHEN (diag_2 BETWEEN 140 AND 239) THEN "neoplasms" '
                   'ELSE "other" '
               'END AS diag_2c, '
               'CASE '
                   'WHEN (diag_3 BETWEEN 390 AND 459) OR (diag_3 = 785) THEN "circulatory" '
                   'WHEN (diag_3 BETWEEN 460 AND 519) OR (diag_3 = 786) THEN "respiratory" '
                   'WHEN (diag_3 BETWEEN 520 AND 579) OR (diag_3 = 787) THEN "digestive" '
                   'WHEN (diag_3 BETWEEN 250 AND 251) THEN "diabetes" '
                   'WHEN (diag_3 BETWEEN 800 AND 999) THEN "injury" '
                   'WHEN (diag_3 BETWEEN 710 AND 739) THEN "musculoskeletal" '
                   'WHEN (diag_3 BETWEEN 580 AND 629) OR (diag_3 = 788) THEN "genitourinary" '
                   'WHEN (diag_3 BETWEEN 140 AND 239) THEN "neoplasms" '
                   'ELSE "other" '
               'END AS diag_3c '
               'FROM diabetes;')

IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: cleaned_columns.id
[SQL: INSERT INTO "cleaned_columns" SELECT encounter_id AS id, CASE WHEN (diag_1 BETWEEN 390 AND 459) OR (diag_1 = 785) THEN "circulatory" WHEN (diag_1 BETWEEN 460 AND 519) OR (diag_1 = 786) THEN "respiratory" WHEN (diag_1 BETWEEN 520 AND 579) OR (diag_1 = 787) THEN "digestive" WHEN (diag_1 BETWEEN 250 AND 251) THEN "diabetes" WHEN (diag_1 BETWEEN 800 AND 999) THEN "injury" WHEN (diag_1 BETWEEN 710 AND 739) THEN "musculoskeletal" WHEN (diag_1 BETWEEN 580 AND 629) OR (diag_1 = 788) THEN "genitourinary" WHEN (diag_1 BETWEEN 140 AND 239) THEN "neoplasms" ELSE "other" END AS diag_1c, CASE WHEN (diag_2 BETWEEN 390 AND 459) OR (diag_2 = 785) THEN "circulatory" WHEN (diag_2 BETWEEN 460 AND 519) OR (diag_2 = 786) THEN "respiratory" WHEN (diag_2 BETWEEN 520 AND 579) OR (diag_2 = 787) THEN "digestive" WHEN (diag_2 BETWEEN 250 AND 251) THEN "diabetes" WHEN (diag_2 BETWEEN 800 AND 999) THEN "injury" WHEN (diag_2 BETWEEN 710 AND 739) THEN "musculoskeletal" WHEN (diag_2 BETWEEN 580 AND 629) OR (diag_2 = 788) THEN "genitourinary" WHEN (diag_2 BETWEEN 140 AND 239) THEN "neoplasms" ELSE "other" END AS diag_2c, CASE WHEN (diag_3 BETWEEN 390 AND 459) OR (diag_3 = 785) THEN "circulatory" WHEN (diag_3 BETWEEN 460 AND 519) OR (diag_3 = 786) THEN "respiratory" WHEN (diag_3 BETWEEN 520 AND 579) OR (diag_3 = 787) THEN "digestive" WHEN (diag_3 BETWEEN 250 AND 251) THEN "diabetes" WHEN (diag_3 BETWEEN 800 AND 999) THEN "injury" WHEN (diag_3 BETWEEN 710 AND 739) THEN "musculoskeletal" WHEN (diag_3 BETWEEN 580 AND 629) OR (diag_3 = 788) THEN "genitourinary" WHEN (diag_3 BETWEEN 140 AND 239) THEN "neoplasms" ELSE "other" END AS diag_3c FROM diabetes;]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [19]:
# Check data
pd.read_sql('SELECT * FROM cleaned_columns LIMIT 10', conn)

        id        diag_1c      diag_2c        diag_3c
0   236316    circulatory  circulatory    circulatory
1   955884    circulatory  circulatory          other
2  1257282  genitourinary     diabetes    circulatory
3  1270524    circulatory  circulatory    respiratory
4  1455252    circulatory  circulatory    circulatory
5  1810752    circulatory     diabetes       diabetes
6  1881372    circulatory  circulatory    respiratory
7  1968528    circulatory  circulatory       diabetes
8  2092362       diabetes        other  genitourinary
9  2095932       diabetes  circulatory          other

In [20]:
# Join diabetes and cleaned_columns tables
diabetes_df = pd.read_sql('SELECT * FROM diabetes JOIN cleaned_columns ON diabetes.encounter_id = cleaned_columns.id', conn)
diabetes_df

,encounter_id,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,...,insulin,glyburide-metformin,glipizide-metformin,change,diabetesMed,readmitted,id,diag_1c,diag_2c,diag_3c
0,236316,Caucasian,Male,[80-90),1,3,7,6,64,3,...,No,No,No,Ch,Yes,NO,236316,circulatory,circulatory,circulatory
1,955884,Caucasian,Female,[70-80),1,3,7,5,34,0,...,Up,No,No,Ch,Yes,>30,955884,circulatory,circulatory,other
2,1257282,Other,Female,[50-60),1,1,7,2,53,0,...,Up,No,No,Ch,Yes,NO,1257282,genitourinary,diabetes,circulatory
3,1270524,Caucasian,Male,[60-70),1,2,7,1,59,0,...,Steady,No,No,No,Yes,NO,1270524,circulatory,circulatory,respiratory
4,1455252,Caucasian,Female,[80-90),1,1,7,3,34,0,...,No,No,No,No,No,>30,1455252,circulatory,circulatory,circulatory
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16188,443816024,Caucasian,Female,[70-80),3,6,1,3,27,1,...,Steady,No,No,Ch,Yes,NO,443816024,musculoskeletal,circulatory,diabetes
16189,443835140,Caucasian,Male,[70-80),3,6,1,13,77,6,...,Up,No,No,Ch,Yes,NO,443835140,circulatory,circulatory,respiratory
16190,443842016,Caucasian,Female,[70-80),1,1,7,9,50,2,...,Steady,No,No,Ch,Yes,>30,443842016,digestive,digestive,diabetes
16191,443842022,Other,Female,[40-50),1,1,7,14,73,6,...,Up,No,No,Ch,Yes,>30,443842022,genitourinary,genitourinary,respiratory
16192,443847548,AfricanAmerican,Male,[70-80),1,3,7,3,51,0,...,Down,No,No,Ch,Yes,>30,443847548,diabetes,other,circulatory

In [21]:
#Check Datatypes
diabetes_df.dtypes

encounter_id                 int64
race                        object
gender                      object
age                         object
admission_type_id            int64
discharge_disposition_id     int64
admission_source_id          int64
time_in_hospital             int64
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
diag_1                      object
diag_2                      object
diag_3                      object
number_diagnoses             int64
A1Cresult                   object
metformin                   object
repaglinide                 object
nateglinide                 object
chlorpropamide              object
glimepiride                 object
glipizide                   object
glyburide                   object
tolbutamide                 object
pioglitazone                object
rosiglitazone               object
acarbose                    object
miglitol                    object
tolazamide                  object
insulin                     object
glyburide-metformin         object
glipizide-metformin         object
change                      object
diabetesMed                 object
readmitted                  object
id                           int64
diag_1c                     object
diag_2c                     object
diag_3c                     object
dtype: object

In [22]:
diabetes_df

,encounter_id,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,...,insulin,glyburide-metformin,glipizide-metformin,change,diabetesMed,readmitted,id,diag_1c,diag_2c,diag_3c
0,236316,Caucasian,Male,[80-90),1,3,7,6,64,3,...,No,No,No,Ch,Yes,NO,236316,circulatory,circulatory,circulatory
1,955884,Caucasian,Female,[70-80),1,3,7,5,34,0,...,Up,No,No,Ch,Yes,>30,955884,circulatory,circulatory,other
2,1257282,Other,Female,[50-60),1,1,7,2,53,0,...,Up,No,No,Ch,Yes,NO,1257282,genitourinary,diabetes,circulatory
3,1270524,Caucasian,Male,[60-70),1,2,7,1,59,0,...,Steady,No,No,No,Yes,NO,1270524,circulatory,circulatory,respiratory
4,1455252,Caucasian,Female,[80-90),1,1,7,3,34,0,...,No,No,No,No,No,>30,1455252,circulatory,circulatory,circulatory
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16188,443816024,Caucasian,Female,[70-80),3,6,1,3,27,1,...,Steady,No,No,Ch,Yes,NO,443816024,musculoskeletal,circulatory,diabetes
16189,443835140,Caucasian,Male,[70-80),3,6,1,13,77,6,...,Up,No,No,Ch,Yes,NO,443835140,circulatory,circulatory,respiratory
16190,443842016,Caucasian,Female,[70-80),1,1,7,9,50,2,...,Steady,No,No,Ch,Yes,>30,443842016,digestive,digestive,diabetes
16191,443842022,Other,Female,[40-50),1,1,7,14,73,6,...,Up,No,No,Ch,Yes,>30,443842022,genitourinary,genitourinary,respiratory
16192,443847548,AfricanAmerican,Male,[70-80),1,3,7,3,51,0,...,Down,No,No,Ch,Yes,>30,443847548,diabetes,other,circulatory

In [23]:
# Check the unique value counts to see if binning is required
diabetes_df.A1Cresult.value_counts()

high    11339
low      4854
Name: A1Cresult, dtype: int64

In [ ]:
#taking target out of df 
# object_db_df =

In [18]:
# Chceck to see if we need to bin any of the groups. 

# Bin the values based on the medical codes

In [ ]:
#Drop 'Change' variable.

In [24]:
# Generate our categorical variable list
diabetes_df_cat = diabetes_df.dtypes[diabetes_df.dtypes == "object"].index.tolist()
diabetes_df_cat

['race',
 'gender',
 'age',
 'diag_1',
 'diag_2',
 'diag_3',
 'A1Cresult',
 'metformin',
 'repaglinide',
 'nateglinide',
 'chlorpropamide',
 'glimepiride',
 'glipizide',
 'glyburide',
 'tolbutamide',
 'pioglitazone',
 'rosiglitazone',
 'acarbose',
 'miglitol',
 'tolazamide',
 'insulin',
 'glyburide-metformin',
 'glipizide-metformin',
 'change',
 'diabetesMed',
 'readmitted',
 'diag_1c',
 'diag_2c',
 'diag_3c']

In [25]:
# Drop the non-beneficial ID and diag columns, 'encounter_id', 'id', 'diag_1', 'diag_2', and 'diag_3'
diabetes_2_df = diabetes_df.drop(['encounter_id', 'id', 'diag_1', 'diag_2', 'diag_3'],1)

/Users/juliaheuer/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

In [26]:
diabetes_2_df

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,...,tolazamide,insulin,glyburide-metformin,glipizide-metformin,change,diabetesMed,readmitted,diag_1c,diag_2c,diag_3c
0,Caucasian,Male,[80-90),1,3,7,6,64,3,18,...,No,No,No,No,Ch,Yes,NO,circulatory,circulatory,circulatory
1,Caucasian,Female,[70-80),1,3,7,5,34,0,17,...,No,Up,No,No,Ch,Yes,>30,circulatory,circulatory,other
2,Other,Female,[50-60),1,1,7,2,53,0,6,...,No,Up,No,No,Ch,Yes,NO,genitourinary,diabetes,circulatory
3,Caucasian,Male,[60-70),1,2,7,1,59,0,12,...,No,Steady,No,No,No,Yes,NO,circulatory,circulatory,respiratory
4,Caucasian,Female,[80-90),1,1,7,3,34,0,11,...,No,No,No,No,No,No,>30,circulatory,circulatory,circulatory
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16188,Caucasian,Female,[70-80),3,6,1,3,27,1,29,...,No,Steady,No,No,Ch,Yes,NO,musculoskeletal,circulatory,diabetes
16189,Caucasian,Male,[70-80),3,6,1,13,77,6,65,...,No,Up,No,No,Ch,Yes,NO,circulatory,circulatory,respiratory
16190,Caucasian,Female,[70-80),1,1,7,9,50,2,33,...,No,Steady,No,No,Ch,Yes,>30,digestive,digestive,diabetes
16191,Other,Female,[40-50),1,1,7,14,73,6,26,...,No,Up,No,No,Ch,Yes,>30,genitourinary,genitourinary,respiratory
16192,AfricanAmerican,Male,[70-80),1,3,7,3,51,0,16,...,No,Down,No,No,Ch,Yes,>30,diabetes,other,circulatory

In [27]:
# Check data
diabetes_2_df.dtypes

race                        object
gender                      object
age                         object
admission_type_id            int64
discharge_disposition_id     int64
admission_source_id          int64
time_in_hospital             int64
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
number_diagnoses             int64
A1Cresult                   object
metformin                   object
repaglinide                 object
nateglinide                 object
chlorpropamide              object
glimepiride                 object
glipizide                   object
glyburide                   object
tolbutamide                 object
pioglitazone                object
rosiglitazone               object
acarbose                    object
miglitol                    object
tolazamide                  object
insulin                     object
glyburide-metformin         object
glipizide-metformin         object
change                      object
diabetesMed                 object
readmitted                  object
diag_1c                     object
diag_2c                     object
diag_3c                     object
dtype: object

In [28]:
# # Generate our categorical variable list
diabetes_2_df_cat = diabetes_2_df.dtypes[diabetes_2_df.dtypes == "object"].index.tolist()
diabetes_2_df_cat

['race',
 'gender',
 'age',
 'A1Cresult',
 'metformin',
 'repaglinide',
 'nateglinide',
 'chlorpropamide',
 'glimepiride',
 'glipizide',
 'glyburide',
 'tolbutamide',
 'pioglitazone',
 'rosiglitazone',
 'acarbose',
 'miglitol',
 'tolazamide',
 'insulin',
 'glyburide-metformin',
 'glipizide-metformin',
 'change',
 'diabetesMed',
 'readmitted',
 'diag_1c',
 'diag_2c',
 'diag_3c']

In [29]:
diabetes_2_df_cat

['race',
 'gender',
 'age',
 'A1Cresult',
 'metformin',
 'repaglinide',
 'nateglinide',
 'chlorpropamide',
 'glimepiride',
 'glipizide',
 'glyburide',
 'tolbutamide',
 'pioglitazone',
 'rosiglitazone',
 'acarbose',
 'miglitol',
 'tolazamide',
 'insulin',
 'glyburide-metformin',
 'glipizide-metformin',
 'change',
 'diabetesMed',
 'readmitted',
 'diag_1c',
 'diag_2c',
 'diag_3c']

In [30]:
# #create datframe without A1C Results
# db_2_df = diabetes_df.drop(columns = "A1Cresult")
# db_2_df

In [96]:
# db_2_df.dtypes

In [97]:
# # Generate our categorical variable list
# db_df_cat = db_2_df.dtypes[db_2_df.dtypes == "object"].index.tolist()
# db_df_cat

In [31]:
# Error somewhere is this frame. Missing values 

#OneHot encode the categorical data. 
from sklearn.preprocessing import OneHotEncoder

# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(diabetes_2_df[diabetes_2_df_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names_out(diabetes_2_df_cat)
encode_df.head()

,race_AfricanAmerican,race_Asian,race_Caucasian,race_Hispanic,race_Other,gender_Female,gender_Male,age_[0-10),age_[10-20),age_[20-30),...,diag_2c_respiratory,diag_3c_circulatory,diag_3c_diabetes,diag_3c_digestive,diag_3c_genitourinary,diag_3c_injury,diag_3c_musculoskeletal,diag_3c_neoplasms,diag_3c_other,diag_3c_respiratory
0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
encode_df.info

<bound method DataFrame.info of        race_AfricanAmerican  race_Asian  race_Caucasian  race_Hispanic  \
0                       0.0         0.0             1.0            0.0
1                       0.0         0.0             1.0            0.0
2                       0.0         0.0             0.0            0.0
3                       0.0         0.0             1.0            0.0
4                       0.0         0.0             1.0            0.0
...                     ...         ...             ...            ...
16188                   0.0         0.0             1.0            0.0
16189                   0.0         0.0             1.0            0.0
16190                   0.0         0.0             1.0            0.0
16191                   0.0         0.0             0.0            0.0
16192                   1.0         0.0             0.0            0.0

       race_Other  gender_Female  gender_Male  age_[0-10)  age_[10-20)  \
0             0.0            0.0          1.0         0.0          0.0
1             0.0            1.0          0.0         0.0          0.0
2             1.0            1.0          0.0         0.0          0.0
3             0.0            0.0          1.0         0.0          0.0
4             0.0            1.0          0.0         0.0          0.0
...           ...            ...          ...         ...          ...
16188         0.0            1.0          0.0         0.0          0.0
16189         0.0            0.0          1.0         0.0          0.0
16190         0.0            1.0          0.0         0.0          0.0
16191         1.0            1.0          0.0         0.0          0.0
16192         0.0            0.0          1.0         0.0          0.0

       age_[20-30)  ...  diag_2c_respiratory  diag_3c_circulatory  \
0              0.0  ...                  0.0                  1.0
1              0.0  ...                  0.0                  0.0
2              0.0  ...                  0.0                  1.0
3              0.0  ...                  0.0                  0.0
4              0.0  ...                  0.0                  1.0
...            ...  ...                  ...                  ...
16188          0.0  ...                  0.0                  0.0
16189          0.0  ...                  0.0                  0.0
16190          0.0  ...                  0.0                  0.0
16191          0.0  ...                  0.0                  0.0
16192          0.0  ...                  0.0                  1.0

       diag_3c_diabetes  diag_3c_digestive  diag_3c_genitourinary  \
0                   0.0                0.0                    0.0
1                   0.0                0.0                    0.0
2                   0.0                0.0                    0.0
3                   0.0                0.0                    0.0
4                   0.0                0.0                    0.0
...                 ...                ...                    ...
16188               1.0                0.0                    0.0
16189               0.0                0.0                    0.0
16190               1.0                0.0                    0.0
16191               0.0                0.0                    0.0
16192               0.0                0.0                    0.0

       diag_3c_injury  diag_3c_musculoskeletal  diag_3c_neoplasms  \
0                 0.0                      0.0                0.0
1                 0.0                      0.0                0.0
2                 0.0                      0.0                0.0
3                 0.0                      0.0                0.0
4                 0.0                      0.0                0.0
...               ...                      ...                ...
16188             0.0                      0.0                0.0
16189             0.0                      0.0                0.0
16190             0.0                      0.0                0.0
16191             0.0                      0.0                0.0
16192             0.0                      0.0                0.0

       diag_3c_other  diag_3c_respiratory
0                0.0                  0.0
1                1.0                  0.0
2                0.0                  0.0
3                0.0                  1.0
4                0.0                  0.0
...              ...                  ...
16188            0.0                  0.0
16189            0.0                  1.0
16190            0.0                  0.0
16191            0.0                  1.0
16192            0.0                  0.0

[16193 rows x 110 columns]>

In [33]:
encode_df.head(20)

,race_AfricanAmerican,race_Asian,race_Caucasian,race_Hispanic,race_Other,gender_Female,gender_Male,age_[0-10),age_[10-20),age_[20-30),...,diag_2c_respiratory,diag_3c_circulatory,diag_3c_diabetes,diag_3c_digestive,diag_3c_genitourinary,diag_3c_injury,diag_3c_musculoskeletal,diag_3c_neoplasms,diag_3c_other,diag_3c_respiratory
0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
9,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
11,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
14,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
15,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
16,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
19,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [34]:
for col_name in encode_df.columns: 
    print(col_name)

race_AfricanAmerican
race_Asian
race_Caucasian
race_Hispanic
race_Other
gender_Female
gender_Male
age_[0-10)
age_[10-20)
age_[20-30)
age_[30-40)
age_[40-50)
age_[50-60)
age_[60-70)
age_[70-80)
age_[80-90)
age_[90-100)
A1Cresult_high
A1Cresult_low
metformin_Down
metformin_No
metformin_Steady
metformin_Up
repaglinide_Down
repaglinide_No
repaglinide_Steady
repaglinide_Up
nateglinide_Down
nateglinide_No
nateglinide_Steady
nateglinide_Up
chlorpropamide_No
chlorpropamide_Steady
glimepiride_Down
glimepiride_No
glimepiride_Steady
glimepiride_Up
glipizide_Down
glipizide_No
glipizide_Steady
glipizide_Up
glyburide_Down
glyburide_No
glyburide_Steady
glyburide_Up
tolbutamide_No
tolbutamide_Steady
pioglitazone_Down
pioglitazone_No
pioglitazone_Steady
pioglitazone_Up
rosiglitazone_Down
rosiglitazone_No
rosiglitazone_Steady
rosiglitazone_Up
acarbose_Down
acarbose_No
acarbose_Steady
acarbose_Up
miglitol_Down
miglitol_No
miglitol_Steady
miglitol_Up
tolazamide_No
tolazamide_Steady
tolazamide_Up
insulin_Down
insulin_No
insulin_Steady
insulin_Up
glyburide-metformin_Down
glyburide-metformin_No
glyburide-metformin_Steady
glyburide-metformin_Up
glipizide-metformin_No
glipizide-metformin_Steady
change_Ch
change_No
diabetesMed_No
diabetesMed_Yes
readmitted_<30
readmitted_>30
readmitted_NO
diag_1c_circulatory
diag_1c_diabetes
diag_1c_digestive
diag_1c_genitourinary
diag_1c_injury
diag_1c_musculoskeletal
diag_1c_neoplasms
diag_1c_other
diag_1c_respiratory
diag_2c_circulatory
diag_2c_diabetes
diag_2c_digestive
diag_2c_genitourinary
diag_2c_injury
diag_2c_musculoskeletal
diag_2c_neoplasms
diag_2c_other
diag_2c_respiratory
diag_3c_circulatory
diag_3c_diabetes
diag_3c_digestive
diag_3c_genitourinary
diag_3c_injury
diag_3c_musculoskeletal
diag_3c_neoplasms
diag_3c_other
diag_3c_respiratory

In [35]:
# # Merge one-hot encoded features and drop the originals
diabetes_2_df = diabetes_2_df.merge(encode_df,left_index=True, right_index=True)
diabetes_2_df = diabetes_2_df.drop(diabetes_2_df_cat,1)
diabetes_2_df.head()

/Users/juliaheuer/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_diagnoses,race_AfricanAmerican,race_Asian,...,diag_2c_respiratory,diag_3c_circulatory,diag_3c_diabetes,diag_3c_digestive,diag_3c_genitourinary,diag_3c_injury,diag_3c_musculoskeletal,diag_3c_neoplasms,diag_3c_other,diag_3c_respiratory
0,1,3,7,6,64,3,18,7,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,3,7,5,34,0,17,7,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,1,7,2,53,0,6,3,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,2,7,1,59,0,12,7,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1,1,7,3,34,0,11,8,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
for col_name in diabetes_2_df.columns: 
    print(col_name)

admission_type_id
discharge_disposition_id
admission_source_id
time_in_hospital
num_lab_procedures
num_procedures
num_medications
number_diagnoses
race_AfricanAmerican
race_Asian
race_Caucasian
race_Hispanic
race_Other
gender_Female
gender_Male
age_[0-10)
age_[10-20)
age_[20-30)
age_[30-40)
age_[40-50)
age_[50-60)
age_[60-70)
age_[70-80)
age_[80-90)
age_[90-100)
A1Cresult_high
A1Cresult_low
metformin_Down
metformin_No
metformin_Steady
metformin_Up
repaglinide_Down
repaglinide_No
repaglinide_Steady
repaglinide_Up
nateglinide_Down
nateglinide_No
nateglinide_Steady
nateglinide_Up
chlorpropamide_No
chlorpropamide_Steady
glimepiride_Down
glimepiride_No
glimepiride_Steady
glimepiride_Up
glipizide_Down
glipizide_No
glipizide_Steady
glipizide_Up
glyburide_Down
glyburide_No
glyburide_Steady
glyburide_Up
tolbutamide_No
tolbutamide_Steady
pioglitazone_Down
pioglitazone_No
pioglitazone_Steady
pioglitazone_Up
rosiglitazone_Down
rosiglitazone_No
rosiglitazone_Steady
rosiglitazone_Up
acarbose_Down
acarbose_No
acarbose_Steady
acarbose_Up
miglitol_Down
miglitol_No
miglitol_Steady
miglitol_Up
tolazamide_No
tolazamide_Steady
tolazamide_Up
insulin_Down
insulin_No
insulin_Steady
insulin_Up
glyburide-metformin_Down
glyburide-metformin_No
glyburide-metformin_Steady
glyburide-metformin_Up
glipizide-metformin_No
glipizide-metformin_Steady
change_Ch
change_No
diabetesMed_No
diabetesMed_Yes
readmitted_<30
readmitted_>30
readmitted_NO
diag_1c_circulatory
diag_1c_diabetes
diag_1c_digestive
diag_1c_genitourinary
diag_1c_injury
diag_1c_musculoskeletal
diag_1c_neoplasms
diag_1c_other
diag_1c_respiratory
diag_2c_circulatory
diag_2c_diabetes
diag_2c_digestive
diag_2c_genitourinary
diag_2c_injury
diag_2c_musculoskeletal
diag_2c_neoplasms
diag_2c_other
diag_2c_respiratory
diag_3c_circulatory
diag_3c_diabetes
diag_3c_digestive
diag_3c_genitourinary
diag_3c_injury
diag_3c_musculoskeletal
diag_3c_neoplasms
diag_3c_other
diag_3c_respiratory

In [54]:
#Create new dataframe with top only 8 features
top_8_df = diabetes_2_df[['num_lab_procedures','num_medications','time_in_hospital','num_procedures','number_diagnoses','discharge_disposition_id','admission_type_id','admission_source_id']] 
top_8_df.head(20)

,num_lab_procedures,num_medications,time_in_hospital,num_procedures,number_diagnoses,discharge_disposition_id,admission_type_id,admission_source_id
0,64,18,6,3,7,3,1,7
1,34,17,5,0,7,3,1,7
2,53,6,2,0,3,1,1,7
3,59,12,1,0,7,2,1,7
4,34,11,3,0,8,1,1,7
5,78,19,14,1,8,3,1,7
6,65,19,4,2,7,2,1,7
7,56,24,10,2,9,25,6,1
8,88,16,11,1,9,25,6,7
9,62,21,8,0,9,25,6,7
10,34,19,7,1,4,25,6,7
11,72,22,7,0,9,25,6,7
12,60,15,10,0,9,25,6,7
13,43,20,7,5,6,25,6,4
14,18,27,3,3,6,25,6,7
15,54,15,5,1,8,25,6,1
16,47,6,5,1,5,3,6,7
17,70,13,7,0,9,25,6,7
18,58,3,13,0,6,25,6,1
19,45,7,4,0,4,25,6,7

In [55]:
#remove target from features data
y = diabetes_2_df['A1Cresult_high']
X = top_8_df
# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [56]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.661

In [57]:
importances = rf_model.feature_importances_

In [58]:
# List the features sorted in descending order by feature importance
importances = rf_model.feature_importances_
importances
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.31764033064813757, 'num_lab_procedures'),
 (0.24568759084847203, 'num_medications'),
 (0.15557628673490595, 'time_in_hospital'),
 (0.08200127908277177, 'num_procedures'),
 (0.0609788534619337, 'discharge_disposition_id'),
 (0.056156345651080915, 'number_diagnoses'),
 (0.04579760909909611, 'admission_type_id'),
 (0.036161704473602, 'admission_source_id')]

In [70]:
#Trying PCA on original data 
# //95% of variance
from sklearn.decomposition import PCA
pca = PCA(n_components = 0.95)
pca.fit(diabetes_2_df)
reduced = pca.transform(diabetes_2_df)

In [74]:
#Call into dataframe 
transform_pca = pd.DataFrame(reduced)
transform_pca

               0          1         2         3         4
0       9.572246  -0.558393 -0.547942  0.682432  0.757815
1     -19.961935   4.699503 -0.728852  1.933973  1.141393
2      -4.139627 -10.890984 -1.705775  0.564171 -0.603588
3       2.993975  -6.358675 -1.311252  1.211684 -2.899928
4     -21.394304  -1.462835 -2.242847  1.836474  0.363659
...          ...        ...       ...       ...       ...
16188 -24.488951  18.129370  1.134875 -2.220189 -3.793193
16189  32.820330  43.780869 -1.345880 -2.921411 -2.064557
16190  -0.636428  17.126420 -3.888855  1.749095  1.904950
16191  20.720911   6.619875 -2.777139 -0.446661  7.031781
16192  -3.736518  -0.241136 -0.638826  1.641550 -1.311660

[16193 rows x 5 columns]

In [72]:
#Trying PCA on original data 
# //99% of variance
from sklearn.decomposition import PCA
pca = PCA(n_components = 0.99)
pca.fit(diabetes_2_df)
reduced_2 = pca.transform(diabetes_2_df)

In [73]:
#Call into dataframe 
pd.DataFrame(reduced_2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,9.572246,-0.558393,-0.547942,0.682432,0.757815,-0.872143,1.066559,-1.373482,-0.613279,-0.771447,0.166179,1.808657,-0.696128,-0.290813,0.139251,0.284583,0.074012
1,-19.961935,4.699503,-0.728852,1.933973,1.141393,0.097490,-1.634172,-0.336566,-0.510335,0.677065,-1.064613,0.161341,-0.072877,0.102641,-0.324577,-0.919340,1.130830
2,-4.139627,-10.890984,-1.705775,0.564171,-0.603588,-3.390295,-1.421705,-1.179877,-0.756079,0.648961,0.095003,0.104965,-0.393104,0.356378,0.417169,-0.916143,-0.719730
3,2.993975,-6.358675,-1.311252,1.211684,-2.899928,0.145125,-0.690519,-0.748218,0.719178,-0.923494,0.461505,0.496734,0.636635,1.253902,-0.571963,-0.027103,0.538903
4,-21.394304,-1.462835,-2.242847,1.836474,0.363659,1.350683,-0.422874,-0.294457,1.808951,0.596643,-0.825768,1.027890,0.528830,-0.004062,-0.067388,-0.555597,-0.037362
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16188,-24.488951,18.129370,1.134875,-2.220189,-3.793193,0.943666,-0.905632,1.424822,-0.173442,0.641535,1.148047,0.975161,0.534606,0.252637,-0.427057,0.521642,0.401607
16189,32.820330,43.780869,-1.345880,-2.921411,-2.064557,4.623400,1.382733,1.223022,0.783380,-0.831292,0.951238,0.027477,0.339286,0.076690,0.349504,-0.484634,0.529494
16190,-0.636428,17.126420,-3.888855,1.749095,1.904950,0.675228,-1.257687,-0.487754,-0.186157,0.699669,-0.793051,-0.274232,-0.134696,0.342275,-0.632835,0.169929,0.003966
16191,20.720911,6.619875,-2.777139,-0.446661,7.031781,0.023051,2.949043,-1.480756,-0.923355,1.071970,-0.695601,-0.455375,0.026181,-0.400304,0.363831,-0.166115,-0.237620
16192,-3.736518,-0.241136,-0.638826,1.641550,-1.311660,1.833133,-1.022664,-0.201848,-1.254422,-0.406061,-0.559944,-0.180755,0.408641,-0.413653,1.140789,0.536852,-0.915944

In [75]:
#running Random Forest with the top 5 components from PCA
#remove target from features data
y = diabetes_2_df['A1Cresult_high']
X = transform_pca
# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [76]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.666

In [39]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 24
hidden_nodes_layer2 = 12

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

2022-02-08 19:43:53.663443: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

Epoch 1/50
380/380 [==============================] - 1s 782us/step - loss: 0.6313 - accuracy: 0.6588
Epoch 2/50
380/380 [==============================] - 0s 759us/step - loss: 0.5779 - accuracy: 0.7042
Epoch 3/50
380/380 [==============================] - 0s 766us/step - loss: 0.5676 - accuracy: 0.7069
Epoch 4/50
380/380 [==============================] - 0s 753us/step - loss: 0.5619 - accuracy: 0.7117
Epoch 5/50
380/380 [==============================] - 0s 758us/step - loss: 0.5563 - accuracy: 0.7148
Epoch 6/50
380/380 [==============================] - 0s 782us/step - loss: 0.5517 - accuracy: 0.7166
Epoch 7/50
380/380 [==============================] - 0s 759us/step - loss: 0.5465 - accuracy: 0.7222
Epoch 8/50
380/380 [==============================] - 0s 756us/step - loss: 0.5424 - accuracy: 0.7255
Epoch 9/50
380/380 [==============================] - 0s 774us/step - loss: 0.5377 - accuracy: 0.7285
Epoch 10/50
380/380 [==============================] - 0s 762us/step - loss: 0.5328 - accuracy: 0.7310
Epoch 11/50
380/380 [==============================] - 0s 762us/step - loss: 0.5276 - accuracy: 0.7334
Epoch 12/50
380/380 [==============================] - 0s 821us/step - loss: 0.5238 - accuracy: 0.7352
Epoch 13/50
380/380 [==============================] - 0s 764us/step - loss: 0.5197 - accuracy: 0.7389
Epoch 14/50
380/380 [==============================] - 0s 759us/step - loss: 0.5150 - accuracy: 0.7430
Epoch 15/50
380/380 [==============================] - 0s 770us/step - loss: 0.5121 - accuracy: 0.7418
Epoch 16/50
380/380 [==============================] - 0s 760us/step - loss: 0.5088 - accuracy: 0.7461
Epoch 17/50
380/380 [==============================] - 0s 772us/step - loss: 0.5060 - accuracy: 0.7506
Epoch 18/50
380/380 [==============================] - 0s 754us/step - loss: 0.5025 - accuracy: 0.7492
Epoch 19/50
380/380 [==============================] - 0s 759us/step - loss: 0.4989 - accuracy: 0.7561
Epoch 20/50
380/380 [==============================] - 0s 757us/step - loss: 0.4956 - accuracy: 0.7563
Epoch 21/50
380/380 [==============================] - 0s 757us/step - loss: 0.4926 - accuracy: 0.7577
Epoch 22/50
380/380 [==============================] - 0s 768us/step - loss: 0.4888 - accuracy: 0.7586
Epoch 23/50
380/380 [==============================] - 0s 767us/step - loss: 0.4860 - accuracy: 0.7627
Epoch 24/50
380/380 [==============================] - 0s 771us/step - loss: 0.4835 - accuracy: 0.7641
Epoch 25/50
380/380 [==============================] - 0s 775us/step - loss: 0.4812 - accuracy: 0.7653
Epoch 26/50
380/380 [==============================] - 0s 759us/step - loss: 0.4799 - accuracy: 0.7683
Epoch 27/50
380/380 [==============================] - 0s 766us/step - loss: 0.4780 - accuracy: 0.7690
Epoch 28/50
380/380 [==============================] - 0s 759us/step - loss: 0.4758 - accuracy: 0.7693
Epoch 29/50
380/380 [==============================] - 0s 767us/step - loss: 0.4748 - accuracy: 0.7677
Epoch 30/50
380/380 [==============================] - 0s 762us/step - loss: 0.4721 - accuracy: 0.7715
Epoch 31/50
380/380 [==============================] - 0s 756us/step - loss: 0.4713 - accuracy: 0.7751
Epoch 32/50
380/380 [==============================] - 0s 759us/step - loss: 0.4701 - accuracy: 0.7728
Epoch 33/50
380/380 [==============================] - 0s 756us/step - loss: 0.4678 - accuracy: 0.7758
Epoch 34/50
380/380 [==============================] - 0s 758us/step - loss: 0.4670 - accuracy: 0.7753
Epoch 35/50
380/380 [==============================] - 0s 760us/step - loss: 0.4653 - accuracy: 0.7754
Epoch 36/50
380/380 [==============================] - 0s 756us/step - loss: 0.4635 - accuracy: 0.7759
Epoch 37/50
380/380 [==============================] - 0s 756us/step - loss: 0.4630 - accuracy: 0.7799
Epoch 38/50
380/380 [==============================] - 0s 756us/step - loss: 0.4622 - accuracy: 0.7811
Epoch 39/50
380/380 [==============================] - 0s 768us/step - loss: 0.4599 - accuracy: 0.7796
Epoch 40/50
380/380 [==============================] - 0s 763us/step - loss: 0.4593 - accuracy: 0.7803
Epoch 41/50
380/380 [==============================] - 0s 772us/step - loss: 0.4587 - accuracy: 0.7803
Epoch 42/50
380/380 [==============================] - 0s 771us/step - loss: 0.4550 - accuracy: 0.7792
Epoch 43/50
380/380 [==============================] - 0s 764us/step - loss: 0.4552 - accuracy: 0.7847
Epoch 44/50
380/380 [==============================] - 0s 755us/step - loss: 0.4548 - accuracy: 0.7838
Epoch 45/50
380/380 [==============================] - 0s 757us/step - loss: 0.4528 - accuracy: 0.7838
Epoch 46/50
380/380 [==============================] - 0s 769us/step - loss: 0.4519 - accuracy: 0.7856
Epoch 47/50
380/380 [==============================] - 0s 763us/step - loss: 0.4510 - accuracy: 0.7859
Epoch 48/50
380/380 [==============================] - 0s 763us/step - loss: 0.4492 - accuracy: 0.7882
Epoch 49/50
380/380 [==============================] - 0s 765us/step - loss: 0.4488 - accuracy: 0.7880
Epoch 50/50
380/380 [==============================] - 0s 758us/step - loss: 0.4471 - accuracy: 0.7880
127/127 - 0s - loss: 0.7099 - accuracy: 0.6631 - 162ms/epoch - 1ms/step
Loss: 0.7098603844642639, Accuracy: 0.6631267070770264

In [40]:
#
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [41]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Create a callback that saves the model's weights every epoch
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq='epoch')

# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100,callbacks=[cp_callback])

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/100
321/380 [========================>.....] - ETA: 0s - loss: 0.4467 - accuracy: 0.7899
Epoch 00001: saving model to checkpoints/weights.01.hdf5
380/380 [==============================] - 1s 811us/step - loss: 0.4484 - accuracy: 0.7892
Epoch 2/100
327/380 [========================>.....] - ETA: 0s - loss: 0.4412 - accuracy: 0.7930
Epoch 00002: saving model to checkpoints/weights.02.hdf5
380/380 [==============================] - 0s 797us/step - loss: 0.4457 - accuracy: 0.7892
Epoch 3/100
328/380 [========================>.....] - ETA: 0s - loss: 0.4437 - accuracy: 0.7937
Epoch 00003: saving model to checkpoints/weights.03.hdf5
380/380 [==============================] - 0s 791us/step - loss: 0.4446 - accuracy: 0.7922
Epoch 4/100
322/380 [========================>.....] - ETA: 0s - loss: 0.4463 - accuracy: 0.7891
Epoch 00004: saving model to checkpoints/weights.04.hdf5
380/380 [==============================] - 0s 798us/step - loss: 0.4432 - accuracy: 0.7922
Epoch 5/100
317/380 [========================>.....] - ETA: 0s - loss: 0.4391 - accuracy: 0.7948
Epoch 00005: saving model to checkpoints/weights.05.hdf5
380/380 [==============================] - 0s 809us/step - loss: 0.4423 - accuracy: 0.7927
Epoch 6/100
330/380 [=========================>....] - ETA: 0s - loss: 0.4431 - accuracy: 0.7909
Epoch 00006: saving model to checkpoints/weights.06.hdf5
380/380 [==============================] - 0s 783us/step - loss: 0.4415 - accuracy: 0.7924
Epoch 7/100
332/380 [=========================>....] - ETA: 0s - loss: 0.4428 - accuracy: 0.7940
Epoch 00007: saving model to checkpoints/weights.07.hdf5
380/380 [==============================] - 0s 783us/step - loss: 0.4414 - accuracy: 0.7936
Epoch 8/100
328/380 [========================>.....] - ETA: 0s - loss: 0.4358 - accuracy: 0.7952
Epoch 00008: saving model to checkpoints/weights.08.hdf5
380/380 [==============================] - 0s 788us/step - loss: 0.4406 - accuracy: 0.7920
Epoch 9/100
326/380 [========================>.....] - ETA: 0s - loss: 0.4386 - accuracy: 0.7950
Epoch 00009: saving model to checkpoints/weights.09.hdf5
380/380 [==============================] - 0s 807us/step - loss: 0.4403 - accuracy: 0.7931
Epoch 10/100
354/380 [==========================>...] - ETA: 0s - loss: 0.4377 - accuracy: 0.7945
Epoch 00010: saving model to checkpoints/weights.10.hdf5
380/380 [==============================] - 0s 872us/step - loss: 0.4395 - accuracy: 0.7926
Epoch 11/100
330/380 [=========================>....] - ETA: 0s - loss: 0.4359 - accuracy: 0.7959
Epoch 00011: saving model to checkpoints/weights.11.hdf5
380/380 [==============================] - 0s 792us/step - loss: 0.4380 - accuracy: 0.7948
Epoch 12/100
334/380 [=========================>....] - ETA: 0s - loss: 0.4393 - accuracy: 0.7909
Epoch 00012: saving model to checkpoints/weights.12.hdf5
380/380 [==============================] - 0s 780us/step - loss: 0.4382 - accuracy: 0.7918
Epoch 13/100
327/380 [========================>.....] - ETA: 0s - loss: 0.4341 - accuracy: 0.7962
Epoch 00013: saving model to checkpoints/weights.13.hdf5
380/380 [==============================] - 0s 794us/step - loss: 0.4360 - accuracy: 0.7954
Epoch 14/100
322/380 [========================>.....] - ETA: 0s - loss: 0.4363 - accuracy: 0.7949
Epoch 00014: saving model to checkpoints/weights.14.hdf5
380/380 [==============================] - 0s 804us/step - loss: 0.4356 - accuracy: 0.7956
Epoch 15/100
321/380 [========================>.....] - ETA: 0s - loss: 0.4359 - accuracy: 0.7952
Epoch 00015: saving model to checkpoints/weights.15.hdf5
380/380 [==============================] - 0s 807us/step - loss: 0.4359 - accuracy: 0.7946
Epoch 16/100
348/380 [==========================>...] - ETA: 0s - loss: 0.4352 - accuracy: 0.7973
Epoch 00016: saving model to checkpoints/weights.16.hdf5
380/380 [==============================] - 0s 884us/step - loss: 0.4349 - accuracy: 0.7978
Epoch 17/100
320/380 [========================>.....] - ETA: 0s - loss: 0.4361 - accuracy: 0.7946
Epoch 00017: saving model to checkpoints/weights.17.hdf5
380/380 [==============================] - 0s 812us/step - loss: 0.4353 - accuracy: 0.7957
Epoch 18/100
325/380 [========================>.....] - ETA: 0s - loss: 0.4341 - accuracy: 0.7978
Epoch 00018: saving model to checkpoints/weights.18.hdf5
380/380 [==============================] - 0s 802us/step - loss: 0.4342 - accuracy: 0.7973
Epoch 19/100
368/380 [============================>.] - ETA: 0s - loss: 0.4311 - accuracy: 0.8001
Epoch 00019: saving model to checkpoints/weights.19.hdf5
380/380 [==============================] - 0s 846us/step - loss: 0.4326 - accuracy: 0.7989
Epoch 20/100
326/380 [========================>.....] - ETA: 0s - loss: 0.4296 - accuracy: 0.8012
Epoch 00020: saving model to checkpoints/weights.20.hdf5
380/380 [==============================] - 0s 792us/step - loss: 0.4316 - accuracy: 0.7992
Epoch 21/100
380/380 [==============================] - ETA: 0s - loss: 0.4314 - accuracy: 0.7973
Epoch 00021: saving model to checkpoints/weights.21.hdf5
380/380 [==============================] - 0s 820us/step - loss: 0.4314 - accuracy: 0.7973
Epoch 22/100
355/380 [===========================>..] - ETA: 0s - loss: 0.4320 - accuracy: 0.8000
Epoch 00022: saving model to checkpoints/weights.22.hdf5
380/380 [==============================] - 0s 878us/step - loss: 0.4317 - accuracy: 0.7992
Epoch 23/100
358/380 [===========================>..] - ETA: 0s - loss: 0.4282 - accuracy: 0.8028
Epoch 00023: saving model to checkpoints/weights.23.hdf5
380/380 [==============================] - 0s 865us/step - loss: 0.4318 - accuracy: 0.8001
Epoch 24/100
320/380 [========================>.....] - ETA: 0s - loss: 0.4271 - accuracy: 0.8002
Epoch 00024: saving model to checkpoints/weights.24.hdf5
380/380 [==============================] - 0s 809us/step - loss: 0.4301 - accuracy: 0.7973
Epoch 25/100
326/380 [========================>.....] - ETA: 0s - loss: 0.4244 - accuracy: 0.8030
Epoch 00025: saving model to checkpoints/weights.25.hdf5
380/380 [==============================] - 0s 801us/step - loss: 0.4311 - accuracy: 0.7983
Epoch 26/100
376/380 [============================>.] - ETA: 0s - loss: 0.4280 - accuracy: 0.8015
Epoch 00026: saving model to checkpoints/weights.26.hdf5
380/380 [==============================] - 0s 824us/step - loss: 0.4284 - accuracy: 0.8013
Epoch 27/100
324/380 [========================>.....] - ETA: 0s - loss: 0.4306 - accuracy: 0.7979
Epoch 00027: saving model to checkpoints/weights.27.hdf5
380/380 [==============================] - 0s 800us/step - loss: 0.4291 - accuracy: 0.7995
Epoch 28/100
327/380 [========================>.....] - ETA: 0s - loss: 0.4289 - accuracy: 0.7987
Epoch 00028: saving model to checkpoints/weights.28.hdf5
380/380 [==============================] - 0s 793us/step - loss: 0.4279 - accuracy: 0.8000
Epoch 29/100
323/380 [========================>.....] - ETA: 0s - loss: 0.4276 - accuracy: 0.7990
Epoch 00029: saving model to checkpoints/weights.29.hdf5
380/380 [==============================] - 0s 800us/step - loss: 0.4272 - accuracy: 0.7982
Epoch 30/100
328/380 [========================>.....] - ETA: 0s - loss: 0.4304 - accuracy: 0.7992
Epoch 00030: saving model to checkpoints/weights.30.hdf5
380/380 [==============================] - 0s 797us/step - loss: 0.4286 - accuracy: 0.7998
Epoch 31/100
322/380 [========================>.....] - ETA: 0s - loss: 0.4290 - accuracy: 0.7981
Epoch 00031: saving model to checkpoints/weights.31.hdf5
380/380 [==============================] - 0s 801us/step - loss: 0.4280 - accuracy: 0.7995
Epoch 32/100
379/380 [============================>.] - ETA: 0s - loss: 0.4279 - accuracy: 0.8009
Epoch 00032: saving model to checkpoints/weights.32.hdf5
380/380 [==============================] - 0s 831us/step - loss: 0.4277 - accuracy: 0.8009
Epoch 33/100
330/380 [=========================>....] - ETA: 0s - loss: 0.4234 - accuracy: 0.8008
Epoch 00033: saving model to checkpoints/weights.33.hdf5
380/380 [==============================] - 0s 800us/step - loss: 0.4258 - accuracy: 0.7986
Epoch 34/100

331/380 [=========================>....] - ETA: 0s - loss: 0.4235 - accuracy: 0.8023
Epoch 00034: saving model to checkpoints/weights.34.hdf5
380/380 [==============================] - 0s 785us/step - loss: 0.4257 - accuracy: 0.8006
Epoch 35/100
327/380 [========================>.....] - ETA: 0s - loss: 0.4222 - accuracy: 0.8053
Epoch 00035: saving model to checkpoints/weights.35.hdf5
380/380 [==============================] - 0s 789us/step - loss: 0.4249 - accuracy: 0.8018
Epoch 36/100
326/380 [========================>.....] - ETA: 0s - loss: 0.4224 - accuracy: 0.8051
Epoch 00036: saving model to checkpoints/weights.36.hdf5
380/380 [==============================] - 0s 792us/step - loss: 0.4250 - accuracy: 0.8034
Epoch 37/100
322/380 [========================>.....] - ETA: 0s - loss: 0.4242 - accuracy: 0.8037
Epoch 00037: saving model to checkpoints/weights.37.hdf5
380/380 [==============================] - 0s 797us/step - loss: 0.4256 - accuracy: 0.8032
Epoch 38/100
322/380 [========================>.....] - ETA: 0s - loss: 0.4253 - accuracy: 0.8018
Epoch 00038: saving model to checkpoints/weights.38.hdf5
380/380 [==============================] - 0s 807us/step - loss: 0.4235 - accuracy: 0.8040
Epoch 39/100
327/380 [========================>.....] - ETA: 0s - loss: 0.4200 - accuracy: 0.8078
Epoch 00039: saving model to checkpoints/weights.39.hdf5
380/380 [==============================] - 0s 794us/step - loss: 0.4233 - accuracy: 0.8042
Epoch 40/100
369/380 [============================>.] - ETA: 0s - loss: 0.4234 - accuracy: 0.8035
Epoch 00040: saving model to checkpoints/weights.40.hdf5
380/380 [==============================] - 0s 844us/step - loss: 0.4240 - accuracy: 0.8039
Epoch 41/100
329/380 [========================>.....] - ETA: 0s - loss: 0.4214 - accuracy: 0.8063
Epoch 00041: saving model to checkpoints/weights.41.hdf5
380/380 [==============================] - 0s 787us/step - loss: 0.4225 - accuracy: 0.8042
Epoch 42/100
323/380 [========================>.....] - ETA: 0s - loss: 0.4200 - accuracy: 0.8075
Epoch 00042: saving model to checkpoints/weights.42.hdf5
380/380 [==============================] - 0s 809us/step - loss: 0.4217 - accuracy: 0.8047
Epoch 43/100
323/380 [========================>.....] - ETA: 0s - loss: 0.4255 - accuracy: 0.8033
Epoch 00043: saving model to checkpoints/weights.43.hdf5
380/380 [==============================] - 0s 802us/step - loss: 0.4219 - accuracy: 0.8060
Epoch 44/100
333/380 [=========================>....] - ETA: 0s - loss: 0.4152 - accuracy: 0.8098
Epoch 00044: saving model to checkpoints/weights.44.hdf5
380/380 [==============================] - 0s 783us/step - loss: 0.4213 - accuracy: 0.8066
Epoch 45/100
322/380 [========================>.....] - ETA: 0s - loss: 0.4229 - accuracy: 0.8065
Epoch 00045: saving model to checkpoints/weights.45.hdf5
380/380 [==============================] - 0s 801us/step - loss: 0.4208 - accuracy: 0.8079
Epoch 46/100
377/380 [============================>.] - ETA: 0s - loss: 0.4201 - accuracy: 0.8045
Epoch 00046: saving model to checkpoints/weights.46.hdf5
380/380 [==============================] - 0s 829us/step - loss: 0.4209 - accuracy: 0.8039
Epoch 47/100
319/380 [========================>.....] - ETA: 0s - loss: 0.4218 - accuracy: 0.8061
Epoch 00047: saving model to checkpoints/weights.47.hdf5
380/380 [==============================] - 0s 814us/step - loss: 0.4195 - accuracy: 0.8056
Epoch 48/100
322/380 [========================>.....] - ETA: 0s - loss: 0.4162 - accuracy: 0.8058
Epoch 00048: saving model to checkpoints/weights.48.hdf5
380/380 [==============================] - 0s 803us/step - loss: 0.4205 - accuracy: 0.8040
Epoch 49/100
329/380 [========================>.....] - ETA: 0s - loss: 0.4219 - accuracy: 0.8093
Epoch 00049: saving model to checkpoints/weights.49.hdf5
380/380 [==============================] - 0s 786us/step - loss: 0.4200 - accuracy: 0.8096
Epoch 50/100
376/380 [============================>.] - ETA: 0s - loss: 0.4201 - accuracy: 0.8071
Epoch 00050: saving model to checkpoints/weights.50.hdf5
380/380 [==============================] - 0s 826us/step - loss: 0.4204 - accuracy: 0.8067
Epoch 51/100
324/380 [========================>.....] - ETA: 0s - loss: 0.4138 - accuracy: 0.8104
Epoch 00051: saving model to checkpoints/weights.51.hdf5
380/380 [==============================] - 0s 809us/step - loss: 0.4183 - accuracy: 0.8076
Epoch 52/100
326/380 [========================>.....] - ETA: 0s - loss: 0.4155 - accuracy: 0.8059
Epoch 00052: saving model to checkpoints/weights.52.hdf5
380/380 [==============================] - 0s 792us/step - loss: 0.4191 - accuracy: 0.8043
Epoch 53/100
331/380 [=========================>....] - ETA: 0s - loss: 0.4182 - accuracy: 0.8086
Epoch 00053: saving model to checkpoints/weights.53.hdf5
380/380 [==============================] - 0s 783us/step - loss: 0.4188 - accuracy: 0.8099
Epoch 54/100
319/380 [========================>.....] - ETA: 0s - loss: 0.4131 - accuracy: 0.8109
Epoch 00054: saving model to checkpoints/weights.54.hdf5
380/380 [==============================] - 0s 805us/step - loss: 0.4178 - accuracy: 0.8081
Epoch 55/100
323/380 [========================>.....] - ETA: 0s - loss: 0.4187 - accuracy: 0.8070
Epoch 00055: saving model to checkpoints/weights.55.hdf5
380/380 [==============================] - 0s 808us/step - loss: 0.4189 - accuracy: 0.8067
Epoch 56/100
327/380 [========================>.....] - ETA: 0s - loss: 0.4160 - accuracy: 0.8090
Epoch 00056: saving model to checkpoints/weights.56.hdf5
380/380 [==============================] - 0s 798us/step - loss: 0.4171 - accuracy: 0.8077
Epoch 57/100
321/380 [========================>.....] - ETA: 0s - loss: 0.4177 - accuracy: 0.8035
Epoch 00057: saving model to checkpoints/weights.57.hdf5
380/380 [==============================] - 0s 809us/step - loss: 0.4176 - accuracy: 0.8047
Epoch 58/100
379/380 [============================>.] - ETA: 0s - loss: 0.4160 - accuracy: 0.8074
Epoch 00058: saving model to checkpoints/weights.58.hdf5
380/380 [==============================] - 0s 823us/step - loss: 0.4163 - accuracy: 0.8073
Epoch 59/100
327/380 [========================>.....] - ETA: 0s - loss: 0.4123 - accuracy: 0.8108
Epoch 00059: saving model to checkpoints/weights.59.hdf5
380/380 [==============================] - 0s 796us/step - loss: 0.4165 - accuracy: 0.8070
Epoch 60/100
378/380 [============================>.] - ETA: 0s - loss: 0.4164 - accuracy: 0.8072
Epoch 00060: saving model to checkpoints/weights.60.hdf5
380/380 [==============================] - 0s 828us/step - loss: 0.4167 - accuracy: 0.8070
Epoch 61/100
322/380 [========================>.....] - ETA: 0s - loss: 0.4123 - accuracy: 0.8121
Epoch 00061: saving model to checkpoints/weights.61.hdf5
380/380 [==============================] - 0s 817us/step - loss: 0.4163 - accuracy: 0.8104
Epoch 62/100
323/380 [========================>.....] - ETA: 0s - loss: 0.4127 - accuracy: 0.8090
Epoch 00062: saving model to checkpoints/weights.62.hdf5
380/380 [==============================] - 0s 805us/step - loss: 0.4157 - accuracy: 0.8060
Epoch 63/100
377/380 [============================>.] - ETA: 0s - loss: 0.4151 - accuracy: 0.8070
Epoch 00063: saving model to checkpoints/weights.63.hdf5
380/380 [==============================] - 0s 823us/step - loss: 0.4149 - accuracy: 0.8073
Epoch 64/100
318/380 [========================>.....] - ETA: 0s - loss: 0.4125 - accuracy: 0.8125
Epoch 00064: saving model to checkpoints/weights.64.hdf5
380/380 [==============================] - 0s 814us/step - loss: 0.4152 - accuracy: 0.8109
Epoch 65/100
320/380 [========================>.....] - ETA: 0s - loss: 0.4104 - accuracy: 0.8111
Epoch 00065: saving model to checkpoints/weights.65.hdf5
380/380 [==============================] - 0s 810us/step - loss: 0.4152 - accuracy: 0.8088
Epoch 66/100
318/380 [========================>.....] - ETA: 0s - loss: 0.4098 - accuracy: 0.8128
Epoch 00066: saving model to checkpoints/weights.66.hdf5
380/380 [==============================] - 0s 814us/step - loss: 0.4144 - accuracy: 0.8094
Epoch 67/100

322/380 [========================>.....] - ETA: 0s - loss: 0.4104 - accuracy: 0.8092
Epoch 00067: saving model to checkpoints/weights.67.hdf5
380/380 [==============================] - 0s 813us/step - loss: 0.4138 - accuracy: 0.8082
Epoch 68/100
377/380 [============================>.] - ETA: 0s - loss: 0.4125 - accuracy: 0.8107
Epoch 00068: saving model to checkpoints/weights.68.hdf5
380/380 [==============================] - 0s 827us/step - loss: 0.4125 - accuracy: 0.8106
Epoch 69/100
319/380 [========================>.....] - ETA: 0s - loss: 0.4125 - accuracy: 0.8100
Epoch 00069: saving model to checkpoints/weights.69.hdf5
380/380 [==============================] - 0s 806us/step - loss: 0.4134 - accuracy: 0.8085
Epoch 70/100
323/380 [========================>.....] - ETA: 0s - loss: 0.4130 - accuracy: 0.8106
Epoch 00070: saving model to checkpoints/weights.70.hdf5
380/380 [==============================] - 0s 797us/step - loss: 0.4131 - accuracy: 0.8102
Epoch 71/100
321/380 [========================>.....] - ETA: 0s - loss: 0.4057 - accuracy: 0.8125
Epoch 00071: saving model to checkpoints/weights.71.hdf5
380/380 [==============================] - 0s 806us/step - loss: 0.4116 - accuracy: 0.8097
Epoch 72/100
323/380 [========================>.....] - ETA: 0s - loss: 0.4090 - accuracy: 0.8140
Epoch 00072: saving model to checkpoints/weights.72.hdf5
380/380 [==============================] - 0s 809us/step - loss: 0.4128 - accuracy: 0.8118
Epoch 73/100
321/380 [========================>.....] - ETA: 0s - loss: 0.4106 - accuracy: 0.8123
Epoch 00073: saving model to checkpoints/weights.73.hdf5
380/380 [==============================] - 0s 804us/step - loss: 0.4104 - accuracy: 0.8119
Epoch 74/100
378/380 [============================>.] - ETA: 0s - loss: 0.4122 - accuracy: 0.8108
Epoch 00074: saving model to checkpoints/weights.74.hdf5
380/380 [==============================] - 0s 825us/step - loss: 0.4123 - accuracy: 0.8106
Epoch 75/100
324/380 [========================>.....] - ETA: 0s - loss: 0.4063 - accuracy: 0.8104
Epoch 00075: saving model to checkpoints/weights.75.hdf5
380/380 [==============================] - 0s 807us/step - loss: 0.4114 - accuracy: 0.8077
Epoch 76/100
373/380 [============================>.] - ETA: 0s - loss: 0.4116 - accuracy: 0.8104
Epoch 00076: saving model to checkpoints/weights.76.hdf5
380/380 [==============================] - 0s 833us/step - loss: 0.4110 - accuracy: 0.8106
Epoch 77/100
321/380 [========================>.....] - ETA: 0s - loss: 0.4098 - accuracy: 0.8101
Epoch 00077: saving model to checkpoints/weights.77.hdf5
380/380 [==============================] - 0s 808us/step - loss: 0.4109 - accuracy: 0.8104
Epoch 78/100
321/380 [========================>.....] - ETA: 0s - loss: 0.4128 - accuracy: 0.8105
Epoch 00078: saving model to checkpoints/weights.78.hdf5
380/380 [==============================] - 0s 803us/step - loss: 0.4119 - accuracy: 0.8102
Epoch 79/100
378/380 [============================>.] - ETA: 0s - loss: 0.4094 - accuracy: 0.8087
Epoch 00079: saving model to checkpoints/weights.79.hdf5
380/380 [==============================] - 0s 824us/step - loss: 0.4095 - accuracy: 0.8089
Epoch 80/100
374/380 [============================>.] - ETA: 0s - loss: 0.4104 - accuracy: 0.8102
Epoch 00080: saving model to checkpoints/weights.80.hdf5
380/380 [==============================] - 0s 834us/step - loss: 0.4091 - accuracy: 0.8111
Epoch 81/100
321/380 [========================>.....] - ETA: 0s - loss: 0.4115 - accuracy: 0.8115
Epoch 00081: saving model to checkpoints/weights.81.hdf5
380/380 [==============================] - 0s 802us/step - loss: 0.4107 - accuracy: 0.8112
Epoch 82/100
330/380 [=========================>....] - ETA: 0s - loss: 0.4078 - accuracy: 0.8137
Epoch 00082: saving model to checkpoints/weights.82.hdf5
380/380 [==============================] - 0s 786us/step - loss: 0.4095 - accuracy: 0.8130
Epoch 83/100
322/380 [========================>.....] - ETA: 0s - loss: 0.4079 - accuracy: 0.8127
Epoch 00083: saving model to checkpoints/weights.83.hdf5
380/380 [==============================] - 0s 802us/step - loss: 0.4084 - accuracy: 0.8117
Epoch 84/100
321/380 [========================>.....] - ETA: 0s - loss: 0.4042 - accuracy: 0.8109
Epoch 00084: saving model to checkpoints/weights.84.hdf5
380/380 [==============================] - 0s 799us/step - loss: 0.4084 - accuracy: 0.8092
Epoch 85/100
374/380 [============================>.] - ETA: 0s - loss: 0.4084 - accuracy: 0.8101
Epoch 00085: saving model to checkpoints/weights.85.hdf5
380/380 [==============================] - 0s 831us/step - loss: 0.4086 - accuracy: 0.8098
Epoch 86/100
319/380 [========================>.....] - ETA: 0s - loss: 0.4090 - accuracy: 0.8118
Epoch 00086: saving model to checkpoints/weights.86.hdf5
380/380 [==============================] - 0s 811us/step - loss: 0.4079 - accuracy: 0.8108
Epoch 87/100
377/380 [============================>.] - ETA: 0s - loss: 0.4088 - accuracy: 0.8107
Epoch 00087: saving model to checkpoints/weights.87.hdf5
380/380 [==============================] - 0s 828us/step - loss: 0.4087 - accuracy: 0.8105
Epoch 88/100
324/380 [========================>.....] - ETA: 0s - loss: 0.4040 - accuracy: 0.8129
Epoch 00088: saving model to checkpoints/weights.88.hdf5
380/380 [==============================] - 0s 803us/step - loss: 0.4073 - accuracy: 0.8112
Epoch 89/100
326/380 [========================>.....] - ETA: 0s - loss: 0.4017 - accuracy: 0.8128
Epoch 00089: saving model to checkpoints/weights.89.hdf5
380/380 [==============================] - 0s 796us/step - loss: 0.4064 - accuracy: 0.8109
Epoch 90/100
317/380 [========================>.....] - ETA: 0s - loss: 0.4043 - accuracy: 0.8129
Epoch 00090: saving model to checkpoints/weights.90.hdf5
380/380 [==============================] - 0s 812us/step - loss: 0.4070 - accuracy: 0.8108
Epoch 91/100
324/380 [========================>.....] - ETA: 0s - loss: 0.4073 - accuracy: 0.8134
Epoch 00091: saving model to checkpoints/weights.91.hdf5
380/380 [==============================] - 0s 797us/step - loss: 0.4077 - accuracy: 0.8119
Epoch 92/100
319/380 [========================>.....] - ETA: 0s - loss: 0.4059 - accuracy: 0.8118
Epoch 00092: saving model to checkpoints/weights.92.hdf5
380/380 [==============================] - 0s 811us/step - loss: 0.4055 - accuracy: 0.8121
Epoch 93/100
327/380 [========================>.....] - ETA: 0s - loss: 0.4082 - accuracy: 0.8136
Epoch 00093: saving model to checkpoints/weights.93.hdf5
380/380 [==============================] - 0s 792us/step - loss: 0.4061 - accuracy: 0.8131
Epoch 94/100
320/380 [========================>.....] - ETA: 0s - loss: 0.4045 - accuracy: 0.8140
Epoch 00094: saving model to checkpoints/weights.94.hdf5
380/380 [==============================] - 0s 809us/step - loss: 0.4057 - accuracy: 0.8126
Epoch 95/100
378/380 [============================>.] - ETA: 0s - loss: 0.4057 - accuracy: 0.8109
Epoch 00095: saving model to checkpoints/weights.95.hdf5
380/380 [==============================] - 0s 819us/step - loss: 0.4052 - accuracy: 0.8113
Epoch 96/100
331/380 [=========================>....] - ETA: 0s - loss: 0.4036 - accuracy: 0.8133
Epoch 00096: saving model to checkpoints/weights.96.hdf5
380/380 [==============================] - 0s 787us/step - loss: 0.4049 - accuracy: 0.8127
Epoch 97/100
370/380 [============================>.] - ETA: 0s - loss: 0.4059 - accuracy: 0.8109
Epoch 00097: saving model to checkpoints/weights.97.hdf5
380/380 [==============================] - 0s 841us/step - loss: 0.4050 - accuracy: 0.8116
Epoch 98/100
319/380 [========================>.....] - ETA: 0s - loss: 0.4003 - accuracy: 0.8148
Epoch 00098: saving model to checkpoints/weights.98.hdf5
380/380 [==============================] - 0s 814us/step - loss: 0.4045 - accuracy: 0.8123
Epoch 99/100
319/380 [========================>.....] - ETA: 0s - loss: 0.4030 - accuracy: 0.8158
Epoch 00099: saving model to checkpoints/weights.99.hdf5
380/380 [==============================] - 0s 815us/step - loss: 0.4046 - accuracy: 0.8142
Epoch 100/100

359/380 [===========================>..] - ETA: 0s - loss: 0.4045 - accuracy: 0.8112
Epoch 00100: saving model to checkpoints/weights.100.hdf5
380/380 [==============================] - 0s 860us/step - loss: 0.4039 - accuracy: 0.8116
127/127 - 0s - loss: 0.8467 - accuracy: 0.6545 - 143ms/epoch - 1ms/step
Loss: 0.8466845154762268, Accuracy: 0.6544826030731201